<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Person</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add Person</h1>
<form action="#" th:action="@{/addPerson}" th:object="${personForm}" method="post">
    <p>Id:           <input type="number" pattern ="^[ 0-9]+$" th:field="*{id}"  /> </p>
    <p>First name:   <input type="text" pattern = "^[a-zA-Z]+$" th:field="*{firstName}" /></p>
    <p>Second name:  <input type="text" pattern = "^[a-zA-Z]+$" th:field="*{secondName}" /></p>
    <p>Salary:       <input type="text" pattern ="\d+(\.\d{2})?" th:field="*{salary}" /></p>
    <p>Mail address: <input type="email" th:field="*{mail}" /></p>
    <p>Work place:   <input type="text" pattern = "^[a-zA-Z]+$" th:field="*{workPlace}" /></p>
    <p><input type="submit" value="Add Person" />
</form>


<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<p></p>
<a href="/personList">Person List</a>




</body>
</html>
