<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail Sender</title>
</head>
<body>
<form action="#" th:action="@{/sendEmail}" th:object="${mail}" method="post">
    <p>Message:    <input type="text" th:field= "*{message}" /></p>
    <p>Receiver email:  <input type="text" pattern = "^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$" th:field="*{receiverEmail}" /></p>
    <p><input type="submit" value="Send Mail" />
</form>

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
<p></p>
<div th:if="${successMessage}" th:utext="${successMessage}"
     style="color:green;font-style:italic;">
    ...
</div>
<p></p>
</body>
</html>